
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f2f4f8;
}


.header{
  text-align: center;
  color: red;
  margin: 10px;
  padding: 10px;
}



.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
}


.form-card,
.list-card {
  background-color: white;
  padding: 20px 25px;
  border-radius: 12px;
  width: 380px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.list-card h3 {
  margin-bottom: 15px;
  text-align: center;
  color: #333;
}


form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 6px;
  font-size: 14px;
  color: #555;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus,
select:focus {
  outline: none;
  border-color: #4f46e5;
}


button[type="submit"] {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #4f46e5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #4338ca;
}


ul {
  list-style: none;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f9fafb;
  font-size: 14px;
}


.actions button {
  margin-left: 6px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

 .actions button:first-child {
  background-color: #22c55e;
  color: white;
}

.actions button:last-child {
  background-color: #ef4444;
  color: white;
}
  

.actions button:hover {
  opacity: 0.9;
} 


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}



.list-item span {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list-item span strong {
  font-size: 15px;
  color: #111;
}

.list-item span small {
  color: #666;
}
