*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  background-color: lightgray;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

nav ul{
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

nav ul li:hover{
  color: #000;
  cursor: pointer;
}

nav div{
  display: flex;
  gap: 0.75rem;
}

nav div button{
  padding: 0.5rem 1rem;
  border: none;
  background-color: rgb(55, 55, 231);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

nav div button:hover{
  background-color: rgb(32, 32, 205);
}

section{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
}

form{
  background-color: #f0f0f0;
  padding : 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}

input{
  padding: 0.75rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus{
  border:2px solid lightgreen;
  outline: none;
}

button[type="submit"]{
  padding: 0.75rem;
  background-color: #28a745;
  color:white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

}


button[type="submit"]:hover{
  background-color: #218838;
}


footer{
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background-color: white;
  font-size: 0.9rem;
  color: #777;
  padding: 1.5rem 1rem;
  border-top: 1px solid #ddd;
}


@media (max-width: 768px) {
  nav{
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  nav ul{
    flex-direction: column;
    gap: 0.5rem;
  }

  form{
    padding: 1.5rem;
    width: 100%;
   
  }

  section{
    padding: 2rem 1rem;
  }
}